<div class="flex-box --spaced">
  <h2 mat-dialog-title>Cey Nor Menu</h2>
  <button mat-icon-button [mat-dialog-close]="true">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<mat-dialog-content class="mat-typography">
  <div class="erg-menu erg-menu--no-padding ">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Kids Menu">
        <div class="tab-content-container container-fluid">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="erg-menu__title">Breakfast</div>
            </div>
            <div class="erg-menu">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6"> <!--Dish-->
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">1 Bacon & Egg Sandwich</div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich cdsssssssss
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR590.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">2 Soft Boiled Eggs, Toast Fingers
                      </div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR400.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">3 Nutella & Banana or Peanut Butter & Banana Sandwich</div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR590.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">4 Assorted Cereals of Your Choice, Banana & Honey*</div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR590.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">5 Bacon & Egg Sandwich</div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR590.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">6 Bacon & Egg Sandwich</div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR590.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">7 Soft Boiled Eggs, Toast Fingers
                      </div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR400.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="erg-menu__title">Lunch</div>
            </div>
            <div class="erg-menu">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6"> <!--Dish-->
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">1 Bacon & Egg Sandwich</div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich cdsssssssss
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR590.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">2 Soft Boiled Eggs, Toast Fingers
                      </div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR400.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">3 Nutella & Banana or Peanut Butter & Banana Sandwich</div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR590.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">4 Assorted Cereals of Your Choice, Banana & Honey*</div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR590.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">5 Bacon & Egg Sandwich</div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR590.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Al Carte Menu">
        <div class="tab-content-container container-fluid">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="erg-menu__title">Breakfast</div>
            </div>
            <div class="erg-menu">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6"> <!--Dish-->
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">1 Bacon & Egg Sandwich</div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich cdsssssssss
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR590.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">2 Soft Boiled Eggs, Toast Fingers
                      </div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR400.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">3 Nutella & Banana or Peanut Butter & Banana Sandwich</div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR590.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">4 Assorted Cereals of Your Choice, Banana & Honey*</div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR590.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">5 Bacon & Egg Sandwich</div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR590.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Beverage Menu">
        <div class="tab-content-container container-fluid">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="erg-menu__title">Breakfast</div>
            </div>
            <div class="erg-menu">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6"> <!--Dish-->
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">1 Bacon & Egg Sandwich</div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich cdsssssssss
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR590.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">2 Soft Boiled Eggs, Toast Fingers
                      </div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR400.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">3 Nutella & Banana or Peanut Butter & Banana Sandwich</div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR590.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="erg-menu__title">Lunch</div>
            </div>
            <div class="erg-menu">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6"> <!--Dish-->
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">1 Bacon & Egg Sandwich</div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich cdsssssssss
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR590.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <div class="erg-menu__menu-item">
                    <div class="erg-menu__menu-item__title">
                      <div class="heading">2 Soft Boiled Eggs, Toast Fingers
                      </div>
                      <div class="erg-menu__menu-item__title__text">Bacon & Egg SandwichBacon & Egg Sandwich Bacon
                        & Egg Sandwich
                      </div>
                    </div>
                    <div class="heading">
                      <div class="heading">LKR400.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-dialog-content>
<!--<mat-dialog-actions align="end">-->
<!--  <button mat-button mat-dialog-close>Cancel</button>-->
<!--  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>-->
<!--</mat-dialog-actions>-->
